<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
  <title>E-mail confirmare inregistrare curs</title>

 <style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .container {
    width: 65%;
    margin: 0 auto;
  }


  /*----------------------------*/
  .title-section {
    width: 100%;
    margin: 3.5rem 0;
    text-align: center;
  }
  .title-section .title {
    margin: 1.5rem 0;
  }
  /*----------------------------*/


  /* SUBTITLE SECTION STYLING */
  /*----------------------------*/
  .subtitle-section {
    width: 100%;
    margin: 2rem 0;
  }
  .subtitle-section h3 {
    text-align: center;
  }
  /*----------------------------*/



  /* MIDDLE SECTION 1 STYLING */
  /*----------------------------*/
  .middle-email-section-1 {
    display: flex;
    margin-bottom: 2rem;
  }
  .middle-email-section-1 img {
    width: 35%;
  }
  .middle-email-section-1 .text-section {
    width: 50%;
    margin-left: 1rem;
  }
  /*----------------------------*/


  /* MIDDLE SECTION 2 STYLING */
  /*----------------------------*/
  .middle-email-section-2 {
    display: flex;
    margin-bottom: 2rem;
  }
  .middle-email-section-2 .left-section {
    margin-right: 1rem;
    width: 50%;
  }
  .middle-email-section-2 .right-section {
    margin-left: 1rem;
    width: 50%;
  }
  /*----------------------------*/


  /* RED BUTTON SECTION STYLING */
  /*----------------------------*/
  .course-details-btn-section {
    display: flex;
    text-align: center;
    margin: 3rem 0;
    width: 100%;
  }
  .course-details-btn-section div {
    width: 50%;
  }
  .course-details-btn-section #button1 {
    padding: .8rem 2rem;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    background-color: #445c7d;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
.course-details-btn-section #button2 {
    padding: .8rem 2rem;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    background-color: #fd5c4a;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  /*----------------------------*/


  /* CONTACT SECTION STYLING */
  /*----------------------------*/
  .contact-section {
    margin: 2rem 0;
    display: flex;
    text-align: center;
  }
  .contact-section .left-section,
  .contact-section .right-section {
    width: 50%;
  }
  /*----------------------------*/


  /* SOCIAL MEDIA SECTION STYLING */
  /*----------------------------*/
  .social-media-section {
    text-align: center;
    margin: 1rem 0;
  }
  .social-media-section h3 {
    font-weight: normal;
    font-size: 1.4rem;
  }
  /*----------------------------*/


  /* GENERAL CLASSES STYLING */
  /*----------------------------*/
  .tomato-color-title {
    color: #fd5c4a;
    font-weight: bold;
  }
  .social-media-icon {
    width: 20px;
    height: 20px;
  }
  a {
    text-decoration: none;
    color: transparent;
  }
  #email-address a {
    color: black !important;
  }
  .about-restart-camp {
    display: flex;
    width: fit-content;
    margin: auto;
  }
  /*----------------------------*/

  @media screen and (max-width: 1200px) {
    .container {
      width: 100%;
    }

    .middle-email-section-1,
    .middle-email-section-2,
    .contact-section {
      display: block;
    }

    .middle-email-section-1 img {
      width: 70%;
      display: block;
      margin: auto;
    }
    .middle-email-section-1 .text-section {
      width: 100%;
      margin: 0;
    }

    .middle-email-section-2 .left-section,
    .middle-email-section-2 .right-section {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1rem;
      width: 100%;
    }

    .contact-section .left-section,
    .contact-section .right-section {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

</style>
</head>

<body>

<div class="container">
  <div style="text-align: center; width: 100%; margin: 55px 0;">
    <img src="https://static.wixstatic.com/media/9a56fd_2e36edbfbcc241aca2a0e3fff1f444a5~mv2.png/v1/fit/w_700,h_90,al_c,q_100/image.png" alt="restartcamp-logo">
    <p style="font-weight: bold">
      Vești bune!
      <br>
      TE-AI ÎNSCRIS CU SUCCES 
      <br> 
      la
      <br> 
      modulul 1 al cursului {{ course_name }} <br> din programul Restart Camp! :)
    </p>
  </div>

  <div style="width: 100%; margin-bottom: 20px;">
    <h3 style="color: #fd5c4a; text-align: center; margin-bottom: 20px;"> 
      CITEȘTE CU ATENȚIE MAI JOS!
    </h3>
    <p>
      Noi ți-am rezervat locul și te felicităm pentru decizia luată! <br>
      Ce trebuie să faci în continuare? <br>
      Să vii la curs, bineînțeles! Te ajutăm noi cu detaliile necesare, să nu îți mai bați tu capul cu ele.
    </p>
  </div>

  <div style="display: flex; margin-bottom: 20px;">
    <img src='https://ci4.googleusercontent.com/proxy/jdxrO5FtHYEtqSgk8GUJRDYV0hxj6wwnSRDWPqDUpq4ZdfD9s1EhwnzoJaneT2y5aKp9Vy5aHPewpiWtu_ddc0HGqaJEt2WN5IM1w_D-cQ-1AhV-E6RWpnEArO3KbHqM_Q9svunP5C2V4CfjQVpGGxwRjrNq5RiQKhs_2rsM1BVzJWl7XMuMrlx3fqwsl_pcM4L4xSNRRolfedhgnODdjq_EkWHNsoQJCLHexL2U9Z57UhKV=s0-d-e1-ft#https://static.wixstatic.com/media/9a56fd_c800aed3905046be9facad444d56e356~mv2.png/v1/fit/w_700,h_2000,al_c,q_85/9a56fd_c800aed3905046be9facad444d56e356~mv2.png' alt="course-logo" style="width: 35%;">
    <div style="width: 50%; margin-left: 20px;">
      <p>
        <span style="color: #fd5c4a; font-weight: bold;"> 
          Când are loc cursul 
        </span>
        <br>
        Modulul 1 al cursului {{ course_name }} are loc pe {{ course_date }}, ora 18:30 și va dura 3 ore. Nu este un curs demo, ci este un modul complet, din care vei face primii pași în acest domeniu, ghidat de trainerul nostru.
      </p>
      <br>
      <p>
        <span style="color: #fd5c4a; font-weight: bold;"> 
          Datele de acces la curs
        </span>
        <br>
        Vei primi de la noi un mesaj pentru acces la pagina de conectare la curs, cu 2 ore înainte de începerea acestuia, pe mail și pe Whatsapp. Acesta va fi susținut online, iar tu vei fi invitat să intri pe platforma Zoom. De asemenea, îți vom trimite cateva indicatii pentru folosirea platformei în caz că este prima dată când intri pe ea.
      </p>
    </div>
  </div>
  
  <div style="display: flex; margin-bottom: 20px;">
    <div style="width: 50%; margin-right: 10px;">
      <p>
        <span style="color: #fd5c4a; font-weight: bold;"> 
          Despre curs
        </span>
        <br>
        Nu este un curs demo, ci este un modul complet, din care vei învăța primii pași în Marketing Digital și offline + Vânzări față în față, la telefon și în scris, ghidat de trainerul nostru.
      </p>
      <br>
      <p>
        <span style="color: #fd5c4a; font-weight: bold;"> 
          Vei fi invitat să participi la exerciții și studii de caz live
        </span>
        <br>
         Și, bineînțeles, vei interacționa cu trainerul și vei putea pune întrebări, astfel încât să poți beneficia de o înțelegere mai bună și o învățare accelerată, experiențială. Așa că, până la finalul cursului, garantăm că vei avea multe idei și soluții pe care să le poți aplica de a doua zi!
      </p>
    </div>
    <div style="width: 50%; margin-left: 10px;">
      <p>
        <span style="color: #fd5c4a; font-weight: bold;"> 
           Reminderele de la noi
        </span>
        <br>
       Nu te vom bombarda cu zeci de remindere, ci doar cu 2 pe mail cu o săptămână și cu o zi înainte de curs și 2 pe whatsapp, cu o zi înainte și în ziua cursului. Așa că, cel mai bine e să îți notezi de pe acum în calendar ziua și ora, să nu îți faci alt program, tocmai atunci! Acesta este modul nostru de a avea grijă să îți reamintim, fără a-ți invada inboxul. :)
      </p>
      <br>
      <p>
        <span style="color: #fd5c4a; font-weight: bold;"> 
           Locurile sunt limitate, așa că vino la timp! 
        </span>
        <br>
         Locurile sunt limitate și e posibil, daca intri prea târziu, să nu mai poți ocupa locul rezervat pentru tine.
      </p>
    </div>
  </div>

  <div style="display: flex; margin-bottom: 20px">
    <div style="width: 50%; text-align: center;">
      <a href="{{ course_access_link }}">
        <button style="padding: 5px 15px; outline: none; border: none; border-radius: 15px; background-color: #445c7d; color: white; font-size: 20px"> revezi info curs </button>
      </a>
    </div>
    <div style="width: 50%; text-align: center;">
      <a href="https://www.restart-camp.com/mai-inscriu-un-prieten?utm_campaign=3abe3442-9c89-4b26-b20f-9f1d7bf3013e&utm_source=so&utm_medium=mail&utm_content=bbfad056-620c-4b93-b590-24800b0bf878">
        <button style="padding: 5px 15px; outline: none; border: none; border-radius: 15px; background-color: #fd5c4a; color: white; font-size: 20px;"> invita si un prieten </button>
      </a>
    </div>
  </div>

  <div style="display: flex; margin-bottom: 20px;">
    <div style="width: 50%; margin-right: 10px; text-align: center;">
      <h5 style="color: #fd5c4a; font-weight: bold;"> Telefon, Whatsapp & Telegram: </h5> 
      <p> 
        +40724433667 / +40742965615
      </p>
    </div>
    <div style="width: 50%; margin-left: 10px; text-align: center;">
      <h5 style="color: #fd5c4a; font-weight: bold;"> Email: </h5>
      <p id="email-address">
       echipa.restartcamp@gmail.com
      </p>
    </div>
  </div>

  <div style="text-align: center;">
    <h3> Vino și în social media! </h3>
    <br>
    <div style="margin: auto; width: fit-content">
      <a href="https://www.facebook.com/paginarestartcamp" style="text-decoration: none !important;">
        <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643657841/restartcamp/facebook_e1qtfm.png" alt="facebook" style="margin: 0 10px">
      </a>

      <a href="https://www.instagram.com/restart_camp_romania/" style="text-decoration: none !important;">
        <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643657841/restartcamp/instagram_oc4fcv.png" alt="instagram" style="margin: 0 10px">
      </a>

      <a href="https://www.youtube.com/channel/UCDFWUOaKHDTjbjUOQsb2uyg" style="text-decoration: none !important;">
        <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643657842/restartcamp/youtube_u5heks.png" alt="youtube" style="margin: 0 10px">
      </a>

      <a href="https://www.linkedin.com/company/69405606/" style="text-decoration: none !important;">
        <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643657841/restartcamp/linkedin_rxohpg.png" alt="linkedin" style="margin: 0 10px">
      </a>
    </div>
  </div>
  <br>
  <br>

  <p style="font-size: 13px">
    De ce ți-am scris: Te-ai înscris pe website-ul nostru la unul sau mai multe dintre cursurile noastre și ai bifat că îți dorești să primești informații despre programul Restart Camp. Oricand poți oferi echipei de voluntari care realizează proiectul feedback sau întrebări sau poți să te dezabonezi de la această listă printr-un raspuns la acest mail sau <a href="https://support.wix.com/en/article/about-the-unsubscribe-link-in-emails" style="color: #3a71d4">aici</a>.
  </p>
  <br>
  <br>
  <div style="display: flex; justify-content: center; width: 100%; text-align: center;">
    <p style="margin: auto 0;">Despre Restart Camp</p>
    <a href="https://www.restart-camp.com/">
      <img src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1644861158/restartcamp/arrow_znfk0f.png" alt="arrow" style="margin-top: 5px; margin-left: 10px">
    </a>
  </div>
  <br>
  <br>
</div>

</body>
</html>