<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap" rel="stylesheet">
  <title>Document</title>

  <style>

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
    }

    .container {
      width: 65%;
      display: grid;
      place-items: center;
      margin-top: 3rem;
      font-family: 'Lato', sans-serif;
    }

    .flex-box {
      display: flex;
    }

    .flex-box .child {
      margin: 0 1.5rem;
    }

  </style>
</head>
<body>
          <iframe width="320" height="240" src="https://www.youtube.com/embed/FqsSY44hCc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="container">
    <h4 style="color: #fd5c4a; margin: 3rem 0; font-size: 1rem; font-weight: bold">
      Mai știi ce ai citit în primul anunț al nostru despre practica pe care o poți face <br> în programul Restart Camp?
    </h4>

    <section class="flex-box">
      <div class="child">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/FqsSY44hCc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="child">
        Îți spuneam atunci că este un program în care nu ai doar cursuri, ci și practicare după, prin voluntariat profesional, numai bună de pus în CV ca experiență profesională, dar și ca antrenament real pentru o nouă meserie, alături de mentori experți. Probabil exact pentru asta te-ai și înscris la un curs Restart Camp. Ești curios ce spun colegii care au început deja practica? Dă click pe video!
      </div>
    </section>

    <section class="flex-box">

    </section>
  </div>
  
</body>
</html>