<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap" rel="stylesheet">
  <title>Document</title>

  <style>

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
    }

    .container {
      width: 65%;
      display: grid;
      place-items: center;
      margin-top: 3rem;
      font-family: 'Lato', sans-serif;
    }

    .social-media-icon {
      height: 25px;
      width: 25px;
    }

    .paragraph {
      display: flex;
    }

    .paragraph > div {
      width: 50%;
      margin: auto;
    }

    .middle-section-text {
      margin: 0 2rem;
    }

    .contact-section {
      display: flex;
    }

    @media screen and (max-width: 1110px) {
      .paragraph, .contact-section {
        display: block !important;
      }

      .paragraph > div {
        width: 100%;
      }

      .middle-section-text {
        margin: .5rem 0;
      }
    }

  </style>
</head>
<body>
  <div class="container" style="text-align: center">
    <h4 style="color: #fd5c4a; margin: 1.5rem 0; font-size: 1rem; font-weight: bold">
      Bine ai venit! Welcome! Willkommen! Bienvenue! Bienvenidos! καλως <br> ΗΡΘΑΤΕ! Witamy!
    </h4>

    <img src="https://static.wixstatic.com/media/9a56fd_b7e8baf7f2fe4c0a8e65827c40de56b6~mv2.png/v1/fit/w_700,h_2000,al_c,q_85/image.png" alt="top-img" width="100%">

    <section style="margin: auto; border-bottom: 2px solid #a8a8a8; text-align: center">
      <p style="margin: 2.5rem 0">
        Nu știm unde ești, așa că îți spunem și în limba țării unde te afli că ne bucurăm să fii alături de noi și de restul colegilor, din toată lumea!
        <br>
        Și asta pentru că au venit în program oameni de peste mări și țări și s-a dus vestea până hăăăt departe! Atât de fain este Restart Camp! Ce vezi pe hartă cu albastru sunt viitorii tăi colegi.
        <br>
        Tu de unde ești? Pune degetul pe hartă și spune-ne!
      </p>
    </section>
    <br>
    <br>
    <br>

    <section class="paragraph" style="margin: auto">
      <div>
        <img src="https://static.wixstatic.com/media/9a56fd_f40bc2f3f47e49bc893fa6154f6faa51~mv2.png/v1/fit/w_700,h_2000,al_c,q_85/image.png" alt="center-img" style="width: 100%">
      </div>

      <div style="text-align: left">
        <p class="middle-section-text" style="color: #fd5c4a; font-weight: bold; font-size: .9rem"> Ce găsești diferit la noi? </p>
        <p class="middle-section-text" style="font-size: .75rem">
        Nu multe cursuri sunt... LIVE. Dar la noi sunt. Și nu multe programe au practică după. Dar noi avem. Și totul e interactiv pe bune, nu ”pe chat”! Și neconvențional. De ce? Pentru că vrem să înveți pe bune, nu doar teorie.
        <br>
        Și mai trebuie să știi că trainerii noștri nu sunt... traineri. Sunt experți reali, care profesează zi de zi ceea ce predau, deci vei învăța din experiența lor, nu ”din cărți”. Iar când vii la curs, sigur primești ceva ce nu te așteptai! Unelte concrete, pe care le poți folosi de a doua zi în cariera ta, cea pe care o ai deja sau cea pe care abia acum vrei să o începi. Și un teren de antrenament. Și recomandări de la noi pentru viitorul tău angajator. Și... o să mai vezi tu pe parcurs. Suntem plini de surprize!
        </p>
      </div>
    </section>
    <br>
    <br>

    <section style="color: #45b6ff; margin: auto; border-top: 2px solid #a8a8a8; border-bottom: 2px solid #a8a8a8; padding: 2rem 0">
      <p style="font-weight: bold; font-size: 1rem; text-align: center">
        Sună bine? Vino la cursul la care te-ai înscris și hai și tu la antrenament online! De-abia așteptăm să ne cunoaștem!
      </p>
    </section>
    <br>
    <br>

    <section>
      <br>
      <h3 style="text-align: center; font-weight: 300; font-size: 1.2rem">Vino și în social media!</h3>
      <br>
      <br>
      <div style="margin: auto; width: fit-content">
        <a href="https://www.facebook.com/paginarestartcamp">
          <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643213888/restartcamp/facebook_dvghu0.png" alt="facebook" style="margin: 0 .5rem">
        </a>

        <a href="https://www.instagram.com/restart_camp_romania/">
          <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643213888/restartcamp/instagram_ijvs1w.png" alt="instagram" style="margin: 0 .5rem">
        </a>

        <a href="https://www.youtube.com/channel/UCDFWUOaKHDTjbjUOQsb2uyg">
          <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643213888/restartcamp/youtube_afrfu9.png" alt="youtube" style="margin: 0 .5rem">
        </a>

        <a href="https://www.linkedin.com/company/69405606/">
          <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643213888/restartcamp/linkedin_hlprsv.png" alt="linkedin" style="margin: 0 .5rem">
        </a>
      </div>
      
      <br>

      <div class="contact-section">
        <div style="margin: auto">
          <h5 style="color: #45b6ff; font-size: .8rem"> Telefon, Whatsapp & Telegram: </h5> 
          <p> +40724433667 / +40742965615 </p>
        </div>
        <br>
        <div style="margin: auto">
          <h5 style="color: #45b6ff; font-size: .8rem"> Email: </h5>
          <p> echipa.restartcamp@gmail.com </p>
        </div>
      </div>
    </section>
    <br>
    <br>

    <section>
      <p style="font-size: .6rem; text-align: left">
        De ce ți-am scris: Te-ai înscris pe website-ul nostru la unul sau mai multe dintre cursurile noastre și ai bifat că îți dorești să primești informații despre programul Restart Camp. Oricand poți oferi echipei de voluntari care realizează proiectul feedback sau întrebări sau poți să te dezabonezi de la această listă printr-un raspuns la acest mail sau <a href="" style="color: #3a71d4">aici</a>.
      </p>
      <br>
      <br>

      <div style="font-size: 1rem; width: 50%; margin: 0 auto" class="row">
        <p style="margin: auto 0; font-size: .7rem">Despre Restart Camp</p>
        <a href="https://www.restart-camp.com/">
          <img class="social-media-icon" src="https://res.cloudinary.com/drr6nvfqj/image/upload/v1643213888/restartcamp/arrow_cz64ma.png" alt="arrow">
        </a>
      </div>
    </section>
  </div>
  
</body>
</html>